body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
}

header {
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    text-align: center;
    padding: 2em 0;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.about {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.info-sections {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0;
}

.contact-info, .languages {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 48%;
}

.contact-info {
    text-align: center;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5em;
    text-align: center;
}

a {
    color: #333;
}

a:hover {
    text-decoration: underline;
}

.experience {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.experience .job {
    display: flex;
    margin-bottom: 20px;
}

.experience .date {
    flex: 1;
    font-weight: bold;
    text-align: right;
    padding-right: 20px;
}

.experience .job-details {
    flex: 3;
}

.experience .job-details h3 {
    margin-top: 0;
}

.languages {
    text-align: center;
}

.education {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.education ul {
    list-style-type: none;
    padding: 0;
}

.certification-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
}

.certification-details {
    flex: 2;
}

.certification-image {
    flex: 1;
    text-align: center;
}

.certification-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.education ul li h3 {
    margin-bottom: 10px;
}


footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.footer-item {
    flex: 1 1 30%;
    margin: 10px;
}
